@import './vars.scss';
@import './nullStyles.scss';
@import './financing.scss';
@import './navbar.scss';
@import './header.scss';
@import './mediaReference.scss';
@import './feature2choice.scss';
@import './electricSkateboards.scss';
@import './boostedRev.scss';
@import './feature3choice.scss';
@import './videosBlock.scss';
@import './accessories.scss';
@import './gofeatures.scss';
@import './footer.scss';
@import './rights.scss';
@import './burgerMenu.scss';
@import './giftCard.scss';

// ! Null Styles START
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  // background-color: rgb(31, 123, 228);
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: $fontFamily;
  line-height: 22.5px;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
// ! =================================

//  CONTAINER
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (max-width: 916px) {
    max-width: 700px;
  }
  @media screen and (max-width: 767px) {
  }
  @media screen and (max-width: 320px) {
  }
}
